127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in hostvars %}
{{ hostvars[item]['ansible_all_ipv4_addresses'][0] }} {{ servername }} {{ inventory_hostname }}
{% endfor %}
